.feedHeader {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding-block: 1rem;
    color: var(--black);
    border-bottom: solid white 1px;
    background: rgb(190,76,76);
}

.feed {
    height: 78.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    overflow-y: scroll;
}

.feedElement {
    height: 50%;
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    background: #c0c0c0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 30px 0px #d98282;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.userInfo {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.pfp {
    max-width: 10%;
    border-radius: .5rem;
    margin: .5rem .5rem .5rem 0;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.recordingContainer {
    margin-top: 1rem;
    padding: .5rem;
    width: 97.5%;
    background: var(--gray);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playBtn {
    max-width: 4%;
}

.download {
    max-width: 5%;
}

.likeBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heart {
    max-width: 20%;
    margin-bottom: .5rem;
    /* margin-right: .5rem; */
    display: flex;
}

.heart:hover {
    cursor: pointer;
}

/* @media screen and (max-width: 1000px) {
    .mainFeedContainer {
      flex-direction: column;
    }
  
    .leftContainer,
    .rightContainer {
      width: 100%;
      height: auto;
    }
  
    .middleContainer {
      width: 100%;
      border-right: none;
      border-left: none;
    }
  
    .feedHeader {
      font-size: 2rem;
    }
  
    .feed {
      height: auto;
      width: 100%;
    }
  
    .feedElement {
      width: 100%;
      max-width: 300px;
  
    }
  
    .recordingContainer {
      width: 100%;
      max-width: fit-content;
    }
  
    .playBar {
      width: 100%;
      max-width: fit-content;
    }
  
    .pfp,
    .playBtn,
    .download {
      max-width: 5%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .mainFeedContainer {
      width: 100%;
      margin: 0;
      flex-direction: column;
  
    }
  
    .leftContainer,
    .rightContainer {
      width: 100%;
      height: auto;
    }
  
    .middleContainer {
      width: 100%;
      border-right: none;
      border-left: none;
    }
  
    .feedHeader {
      width: 100%;
      font-size: 1.5rem;
      padding-block: 0.5rem;
    }
  } */