.favoritesHeader {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding-block: 1rem;
    color: var(--black);
    border-bottom: solid rgba(255, 255, 255, 0.232) 1px;
    background: rgb(190, 76, 76);
}

.mainFavoritesContainer {
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}