@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.mainHeaderContainer {
    width: 100%;
}

:root {
    --black: #000;
    --gray: #a1a1a1;
    --red: #be4c4c;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding-left: 1rem;
}

.logoTop {
    /* background-color: var(--black); */
    max-width: 3%;
    margin-left: 1rem;
    margin-block: .25rem;
}

.headerNav {
    display: flex;
    align-items: flex-end;
    /* padding: 1rem 0; */
    background-color: var(--black);
    border-bottom: solid black;
    color: var(--gray);
}

.hamburgerMenu {
    display: flex;
    /* display: none; */
}